body{
  background-image: url("http://lideresdelmanana.itesm.mx/sites/default/files/cedetec.jpg");
  background-size: cover;
  font-family: sans-serif;
  color: #0039A6;
}

.mainbox{
  background-color: white;
  width: 480px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -240px;
  margin-top: -269px;
  border: solid;
  border-width: thin;
}

.languagebox{
  margin: 10px 0 0 0;
}

.in_languagebox{
  position: relative;
  display: inline-block;
  left: 398px;
  width: 80px;
}

.globe_icon{
  width: 40px;
  height: 40px;
  position: relative;
  top: 3px;
}

.chooselanguage_box{
  float: right;
  position: relative;
  top: 0;
}

.in_mainbox{
  margin: 20px 0;
}

.iconbox{
  padding: 40px 0;
  text-align: center;
}

.superintendent_icon{
  width: 120px;
  height: 120px;
}

.logginbox{
  margin: 10px 0 30px 0;
}

.logginHeader{
  margin: 0;
  text-align: center;
}

.retrievebox{
  margin: 20px 0 0 0;
  text-align: center;
}

.retrievepassword{
  margin: 0 0 20px 0;
  text-align: center;
}

.buttonbox{
  text-align: center;
}
